<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/lostDogs.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="header">Lost Dogs</div>
        </div>
    </div>
    <div class="row">
        {{#each lostDogArray}}
            <div class="card mt-4 col-12">
                <div class="card-title">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center dog-name">{{this.name}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body description mb-2">
                    <div class="row">
                        <div class="col-4">
                            <div class="text-center">
                                {{cloudinaryIMG this.picture width=250 height=250}}
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="mp-reset post-text">{{this.breed}}</p>
                            <p class="mp-reset post-text"><strong>Contact: </strong>{{this.ownerName}}</p>
                            <p class="mp-reset post-text"><strong>Phone Number: </strong>{{this.phone}}</p>
                            <p class="mp-reset post-text"><strong>From: </strong>{{this.zip}}</p>
                            <p class="mp-reset post-text">{{this.text}}</p>
                            {{#if this.ownDog}}
                                <button class="foundDog btn btn-primary btn-custom" value="{{this.id}}">Found them!</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="footer-margin">
    <footer class="page-footer blue fixed-bottom scrolling-footer" id="navbar">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">

                <a href="/" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Home
                        <br />
                        <i class="fas fa-paw fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/posts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        New Post
                        <br />
                        <i class="fas fa-pen-fancy fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/allposts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        View All Posts
                        <br />
                        <i class="fas fa-bone fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/lostdogs" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Lost Dogs
                        <br />
                        <i class="fas fa-location-arrow fa-5px"></i>
                    </button>
                </a>
            </li>
        </ul>
    </footer>
</div>

<script src="/js/foundDog.js"></script>