<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/userProfile.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="header">Your Dogos</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <div id="plus">
                <a href="/createdog">
                    <button class="fas fa-plus-circle fa-2x btn btn-secondary">
                        <span class="custom-btn"> Add Dog</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br>
    {{#each userDogsArray}}
    <div class="row">
        <div class="col-sm-5">
            <div id="profile" class="card-header">
                {{cloudinaryIMG this.picture width=250 height=250}}
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card-body mp-reset">
                <p class="float-right">
                    {{#if ../userProfile.isCurrentUser}}
                    <a href="/dog/{{this.id}}" class="btn btn-info btn-lg">
                        <i class="fas fa-cog fa-2x"></i>
                        <span class="button-text">Edit Dog</span>
                    </a>
                    {{/if}}
                    <br>
                </p>

                <h3 class="card-title full-width"> {{this.name}} </h3>

                <p class="card-text">
                    <i class="fas fa-dog fa-3x float-left"> </i>
                    <span class="dog-text full-width">
                        {{this.breed}}
                    </span>
                </p>

                <p class="card-text">
                    <i class="fas fa-circle fa-3x float-left"> </i>
                    <span class="dog-text full-width">
                        {{this.gender}}
                    </span>
                </p>

                <p class="card-text">
                    <i class="fas fa-sticky-note fa-3x float-left"></i>
                    <span class="dog-text full-width">
                        {{this.note}}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <hr />
    {{/each}}
</div>

<div class="footer-margin">
    <footer class="page-footer blue fixed-bottom scrolling-footer" id="navbar">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">

                <a href="/" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Home
                        <br />
                        <i class="fas fa-paw fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/posts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        New Post
                        <br />
                        <i class="fas fa-pen-fancy fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/allposts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        View All Posts
                        <br />
                        <i class="fas fa-bone fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/lostdogs" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Lost Dogs
                        <br />
                        <i class="fas fa-location-arrow fa-5px"></i>
                    </button>
                </a>
            </li>
        </ul>
    </footer>
</div>